CREATE DATABASE [QuanLyBanSach]
GO

USE [QuanLyBanSach]
GO
/****** Object:  Table [dbo].[Chinhanh]    Script Date: 16/04/2019 12:08:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Chinhanh](
	[Macn] [int] IDENTITY(1,1) NOT NULL,
	[Tencn] [nvarchar](100) NULL,
	[Diachi] [nvarchar](100) NULL,
	[Sdt] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Hinh] [nvarchar](200) NULL,
 CONSTRAINT [PK_Chinhanh] PRIMARY KEY CLUSTERED 
(
	[Macn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 16/04/2019 12:08:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[ChitietgiohangID] [int] IDENTITY(1,1) NOT NULL,
	[GiohangkhID] [int] NULL,
	[Masach] [int] NULL,
	[Soluong] [int] NULL,
	[Thanhtien] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ChiTietGioHang] PRIMARY KEY CLUSTERED 
(
	[ChitietgiohangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Chude]    Script Date: 16/04/2019 12:08:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Chude](
	[Macd] [int] IDENTITY(1,1) NOT NULL,
	[Tenchude] [nvarchar](100) NULL,
	[Key] [varchar](30) NULL,
 CONSTRAINT [PK_Chude] PRIMARY KEY CLUSTERED 
(
	[Macd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Giohangkh]    Script Date: 16/04/2019 12:08:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giohangkh](
	[GiohangkhID] [int] IDENTITY(1,1) NOT NULL,
	[Makh] [int] NULL,
	[Ngaymua] [smalldatetime] NULL,
	[Tongtien] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Giohangkh] PRIMARY KEY CLUSTERED 
(
	[GiohangkhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Khachhang]    Script Date: 16/04/2019 12:08:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Khachhang](
	[Makh] [int] IDENTITY(1,1) NOT NULL,
	[Hotenkh] [nvarchar](100) NULL,
	[Diachikh] [nvarchar](100) NULL,
	[Dienthoaikh] [varchar](20) NULL,
	[Tendn] [nvarchar](50) NULL,
	[Matkhau] [nvarchar](100) NULL,
	[Ngaysinh] [smalldatetime] NULL,
	[Gioitinh] [bit] NULL,
	[Email] [nvarchar](100) NULL,
	[Quyen] [int] NULL,
 CONSTRAINT [PK_Khachhang] PRIMARY KEY CLUSTERED 
(
	[Makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nhaxuatban]    Script Date: 16/04/2019 12:08:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhaxuatban](
	[Manxb] [int] IDENTITY(1,1) NOT NULL,
	[Tennxb] [nvarchar](100) NULL,
 CONSTRAINT [PK_Nhaxuatban] PRIMARY KEY CLUSTERED 
(
	[Manxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sach]    Script Date: 16/04/2019 12:08:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[Masach] [int] IDENTITY(1,1) NOT NULL,
	[Tensach] [nvarchar](200) NULL,
	[Dongia] [decimal](18, 0) NULL,
	[Donvitinh] [nvarchar](10) NULL,
	[Mota] [ntext] NULL,
	[Hinhminhhoa] [nvarchar](200) NULL,
	[Macd] [int] NULL,
	[Manxb] [int] NULL,
	[Ngaycapnhat] [smalldatetime] NULL,
	[Matacgia] [int] NULL,
	[Soluong] [int] NULL,
	[Giakm] [decimal](18, 0) NULL,
	[Motangangon] [ntext] NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[Masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tacgia]    Script Date: 16/04/2019 12:08:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tacgia](
	[Matacgia] [int] IDENTITY(1,1) NOT NULL,
	[Tentacgia] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tacgia] PRIMARY KEY CLUSTERED 
(
	[Matacgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Chude] ON 

INSERT [dbo].[Chude] ([Macd], [Tenchude], [Key]) VALUES (1, N'Tất cả', N'sgk stn skh sk')
INSERT [dbo].[Chude] ([Macd], [Tenchude], [Key]) VALUES (2, N'Sách giáo khoa', N'sgk')
INSERT [dbo].[Chude] ([Macd], [Tenchude], [Key]) VALUES (3, N'Sách thiếu nhi', N'stn')
SET IDENTITY_INSERT [dbo].[Chude] OFF
SET IDENTITY_INSERT [dbo].[Khachhang] ON 

INSERT [dbo].[Khachhang] ([Makh], [Hotenkh], [Diachikh], [Dienthoaikh], [Tendn], [Matkhau], [Ngaysinh], [Gioitinh], [Email], [Quyen]) VALUES (1, N'Tuyền Luis', N'Đại Học Bôn Ba', N'0963566703', N'TheFirstCustomer', N'123456', CAST(N'1998-06-16 00:00:00' AS SmallDateTime), 0, N'a5lhp.swift@gmail.com', 2)
SET IDENTITY_INSERT [dbo].[Khachhang] OFF
SET IDENTITY_INSERT [dbo].[Nhaxuatban] ON 

INSERT [dbo].[Nhaxuatban] ([Manxb], [Tennxb]) VALUES (1, N'Khang Việt')
INSERT [dbo].[Nhaxuatban] ([Manxb], [Tennxb]) VALUES (2, N'Minh Long')
INSERT [dbo].[Nhaxuatban] ([Manxb], [Tennxb]) VALUES (3, N'Nhân Văn')
SET IDENTITY_INSERT [dbo].[Nhaxuatban] OFF
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([Masach], [Tensach], [Dongia], [Donvitinh], [Mota], [Hinhminhhoa], [Macd], [Manxb], [Ngaycapnhat], [Matacgia], [Soluong], [Giakm], [Motangangon]) VALUES (1008, N'Toán tiểu học lớp 5', 20000, N'đ', N'Toán lớp 5', N'gk.jpg', 2, 3, CAST(N'2019-04-01 00:00:00' AS SmallDateTime), 3, 12, NULL, NULL)
INSERT [dbo].[Sach] ([Masach], [Tensach], [Dongia], [Donvitinh], [Mota], [Hinhminhhoa], [Macd], [Manxb], [Ngaycapnhat], [Matacgia], [Soluong], [Giakm], [Motangangon]) VALUES (1009, N'Hóa học', 21000, N'đ', N'Hóa học', N'gk3.jpg', 2, 3, CAST(N'2019-04-01 00:00:00' AS SmallDateTime), 3, 12, NULL, NULL)
INSERT [dbo].[Sach] ([Masach], [Tensach], [Dongia], [Donvitinh], [Mota], [Hinhminhhoa], [Macd], [Manxb], [Ngaycapnhat], [Matacgia], [Soluong], [Giakm], [Motangangon]) VALUES (1010, N'Vật lý', 22000, N'đ', N'Vật lý', N'gk4.jpg', 2, 3, CAST(N'2019-04-01 00:00:00' AS SmallDateTime), 3, 12, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Sach] OFF
SET IDENTITY_INSERT [dbo].[Tacgia] ON 

INSERT [dbo].[Tacgia] ([Matacgia], [Tentacgia]) VALUES (1, N'Trần Thị Thu Thủy')
INSERT [dbo].[Tacgia] ([Matacgia], [Tentacgia]) VALUES (2, N'Nhiều tác giả')
INSERT [dbo].[Tacgia] ([Matacgia], [Tentacgia]) VALUES (3, N'Trang Anh')
SET IDENTITY_INSERT [dbo].[Tacgia] OFF
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGioHang_Giohangkh] FOREIGN KEY([GiohangkhID])
REFERENCES [dbo].[Giohangkh] ([GiohangkhID])
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_ChiTietGioHang_Giohangkh]
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGioHang_Sach] FOREIGN KEY([Masach])
REFERENCES [dbo].[Sach] ([Masach])
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_ChiTietGioHang_Sach]
GO
ALTER TABLE [dbo].[Giohangkh]  WITH CHECK ADD  CONSTRAINT [FK_Giohangkh_Khachhang] FOREIGN KEY([Makh])
REFERENCES [dbo].[Khachhang] ([Makh])
GO
ALTER TABLE [dbo].[Giohangkh] CHECK CONSTRAINT [FK_Giohangkh_Khachhang]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_Chude] FOREIGN KEY([Macd])
REFERENCES [dbo].[Chude] ([Macd])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_Chude]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_Nhaxuatban] FOREIGN KEY([Manxb])
REFERENCES [dbo].[Nhaxuatban] ([Manxb])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_Nhaxuatban]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_Tacgia] FOREIGN KEY([Matacgia])
REFERENCES [dbo].[Tacgia] ([Matacgia])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_Tacgia]
GO
