USE [ThucTap_Nhom]
GO
/****** Object:  Table [dbo].[AlbumAnh]    Script Date: 5/19/2019 2:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlbumAnh](
	[AnhID] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamID] [int] NULL,
	[Link] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[AnhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/19/2019 2:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[ChiTietHoaDonID] [int] IDENTITY(1,1) NOT NULL,
	[HoaDonID] [int] NULL,
	[SanPhamID] [int] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [int] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[ChiTietHoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/19/2019 2:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[HoaDonID] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangID] [int] NULL,
	[Time] [smalldatetime] NULL,
	[TongTien] [int] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/19/2019 2:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](max) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [smalldatetime] NULL,
	[DiaChi] [nvarchar](max) NULL,
	[MatKhau_MaHoa] [varchar](max) NULL,
	[TaiKhoan] [varchar](50) NULL,
	[Tien] [int] NULL,
	[Quyen] [int] NULL,
	[SDT] [varchar](12) NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 5/19/2019 2:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LienHe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](13) NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NSX]    Script Date: 5/19/2019 2:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NSX](
	[NSXID] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](max) NULL,
 CONSTRAINT [PK_NSX] PRIMARY KEY CLUSTERED 
(
	[NSXID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 5/19/2019 2:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[SanPhamID] [int] IDENTITY(1,1) NOT NULL,
	[TheLoaiID] [int] NULL,
	[TenSanPham] [nvarchar](max) NULL,
	[GiaKM] [int] NULL,
	[Gia] [int] NULL,
	[SoLuong] [int] NULL,
	[AnhDaiDien] [nvarchar](100) NULL,
	[NSXID] [int] NULL,
	[Ngay] [smalldatetime] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 5/19/2019 2:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[TheLoaiID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](max) NULL,
	[Key] [nchar](255) NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[TheLoaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([ChiTietHoaDonID], [HoaDonID], [SanPhamID], [SoLuong], [ThanhTien]) VALUES (1, 1, 1, 1, 5000000)
INSERT [dbo].[ChiTietHoaDon] ([ChiTietHoaDonID], [HoaDonID], [SanPhamID], [SoLuong], [ThanhTien]) VALUES (2, 1, NULL, 1, 80000)
INSERT [dbo].[ChiTietHoaDon] ([ChiTietHoaDonID], [HoaDonID], [SanPhamID], [SoLuong], [ThanhTien]) VALUES (3, 2, 1, 1, 5000000)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([HoaDonID], [KhachHangID], [Time], [TongTien]) VALUES (1, 3, CAST(N'2019-05-15 17:20:00' AS SmallDateTime), 5080000)
INSERT [dbo].[HoaDon] ([HoaDonID], [KhachHangID], [Time], [TongTien]) VALUES (2, 3, CAST(N'2019-05-19 09:17:00' AS SmallDateTime), 5000000)
INSERT [dbo].[HoaDon] ([HoaDonID], [KhachHangID], [Time], [TongTien]) VALUES (3, 2003, CAST(N'2019-05-19 10:53:00' AS SmallDateTime), 5000000)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([KhachHangID], [TenKhachHang], [GioiTinh], [NgaySinh], [DiaChi], [MatKhau_MaHoa], [TaiKhoan], [Tien], [Quyen], [SDT], [Email]) VALUES (3, N'Nguyễn Văn Minh', 0, CAST(N'2019-04-29 00:00:00' AS SmallDateTime), N'Đạo đức - bx - vp', N'Gj6mkHm21Es=', N'minh', 3000, 1, N'0325942121', N'minhnguyen998vp@gmail.com')
INSERT [dbo].[KhachHang] ([KhachHangID], [TenKhachHang], [GioiTinh], [NgaySinh], [DiaChi], [MatKhau_MaHoa], [TaiKhoan], [Tien], [Quyen], [SDT], [Email]) VALUES (1003, NULL, NULL, NULL, NULL, N'Gj6mkHm21Es=', N'admin', NULL, 1, NULL, NULL)
INSERT [dbo].[KhachHang] ([KhachHangID], [TenKhachHang], [GioiTinh], [NgaySinh], [DiaChi], [MatKhau_MaHoa], [TaiKhoan], [Tien], [Quyen], [SDT], [Email]) VALUES (2003, N'Nguyễn Văn A', 0, CAST(N'2019-05-18 00:00:00' AS SmallDateTime), N'Vĩnh Phúc', N'Gj6mkHm21Es=', N'khachhang', NULL, 2, N'0325942122', N'minhnguyen997vp@gmail.com')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[NSX] ON 

INSERT [dbo].[NSX] ([NSXID], [TenNSX]) VALUES (1, N'Apple')
INSERT [dbo].[NSX] ([NSXID], [TenNSX]) VALUES (2, N'Samsung')
INSERT [dbo].[NSX] ([NSXID], [TenNSX]) VALUES (3, N'Canon')
SET IDENTITY_INSERT [dbo].[NSX] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([SanPhamID], [TheLoaiID], [TenSanPham], [GiaKM], [Gia], [SoLuong], [AnhDaiDien], [NSXID], [Ngay]) VALUES (1, 1, N'Apple Ipad Air 2', 0, 5000000, 100, N'Apple Ipad Air 2.jpg', 1, CAST(N'2019-02-02 00:00:00' AS SmallDateTime))
INSERT [dbo].[SanPham] ([SanPhamID], [TheLoaiID], [TenSanPham], [GiaKM], [Gia], [SoLuong], [AnhDaiDien], [NSXID], [Ngay]) VALUES (2, 1, N'Apple Ipad Pro', 0, 20000000, 50, N'Apple Ipad Pro.jpg', 2, CAST(N'2019-03-04 00:00:00' AS SmallDateTime))
INSERT [dbo].[SanPham] ([SanPhamID], [TheLoaiID], [TenSanPham], [GiaKM], [Gia], [SoLuong], [AnhDaiDien], [NSXID], [Ngay]) VALUES (3, 1, N'Apple Ipad 2019', 0, 11000000, 30, N'Apple Ipad 2019.jpg', 1, CAST(N'2019-03-04 00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([TheLoaiID], [TenLoai], [Key]) VALUES (1, N'Máy Tính Bảng', N'1                                                                                                                                                                                                                                                              ')
INSERT [dbo].[TheLoai] ([TheLoaiID], [TenLoai], [Key]) VALUES (2, N'Điện Thoại Bàn Phím', N'2                                                                                                                                                                                                                                                              ')
INSERT [dbo].[TheLoai] ([TheLoaiID], [TenLoai], [Key]) VALUES (3, N'Điện Thoại Cảm Ứng', N'3                                                                                                                                                                                                                                                              ')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
ALTER TABLE [dbo].[AlbumAnh]  WITH CHECK ADD  CONSTRAINT [FK_Image_SanPham] FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[AlbumAnh] CHECK CONSTRAINT [FK_Image_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDon] ([HoaDonID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NSX] FOREIGN KEY([NSXID])
REFERENCES [dbo].[NSX] ([NSXID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NSX]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_TheLoai] FOREIGN KEY([TheLoaiID])
REFERENCES [dbo].[TheLoai] ([TheLoaiID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_TheLoai]
GO
